* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
}
.column {
    padding-left: 8px;
    padding-right: 8px;
}
.column-2 {
    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
#main {
overflow: hidden;
}
#header {
position: fixed;
height: 46px;
width: 100%;
background-color: #000;
top: 0;
z-index: 1;
}
#nav {
    display: inline-block;
}
#nav li {
    display: inline-block;
    position: relative;
}
#nav .nav-item:hover .subnav {
    display: block;
}
#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 1px 5px;
    width: 160px;
    z-index: 1;
}
#nav .subnav a {
    color: #000;
    padding: 0 17px;
}
#nav .subnav li:hover {
    background-color: #ccc;

}
#nav .subnav li {
    display: block;
    cursor: pointer;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    font-size: 15px;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}
.mobile-menu-btn,
.header__search {
float: right;
padding: 0 23px;
}
.menu-btn-icon:hover {
    color: #000;
}
.mobile-menu-btn:hover {
    background-color: #ddd;
}
.header__search:hover {
    background-color: #f44336;
    cursor: pointer;
}
.menu-btn-icon {
    color: #fff;
    font-size: 15px;
    line-height: 46px;
}
.header__search-icon {
    color: #fff;
    font-size: 15px;
    line-height: 46px;
}
#slider {
    margin-top: 46px;
    padding-top: 50%;
    background-image: url('/assest/img/img_band.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}
.text-content {
position: absolute;
bottom: 0;
padding: 32px 16px;
text-align: center;
left: 50%;
transform: translateX(-50%);
color: #fff;
}
.text-heading {
    margin: 10px 0;
    font-weight: 500;
    font-size: 24px;
}
.text-description {
    font-weight: 600;
    margin: 15px 0;
    font-size: 15px;
}
#content {

}
#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px 112px;
}
#content .section-heading {
text-align: center;
font-size: 30px;
letter-spacing: 5px;
font-weight: 300;
}
#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 30px;
    opacity: 60%;
    font-style: italic;
}
#content .about-text {
font-size: 15px;
line-height: 1.5;
text-align: justify;
padding: 0 16px;
margin-bottom: 47px;
}
.member-list {
    display: flex;
}
.member-item {
width: calc(100% / 3);
text-align: center;

}
.member-name {
margin-bottom: 15px;
font-size: 15px;
}
.member-img {
width: 154px;
border-radius: 5px;
}
.tour-section {
    width: 100%;
    background-color: #000;
    color: #fff;
}
.ticket-list {
    margin-top: 40px;
    color: #757575;
    background-color: #fff;
    list-style: none;
}
.ticket-item {
padding: 8px 16px;
border-bottom: 1px solid #ddd;
font-size: 15px;
line-height: 22.5px;
}
.sold-out {
color: #fff;
background-color: #f44336;
padding: 3px 7px;
margin-left: 16px;
}
.quantity {
    float: right;
    background-color: #000;
    color: #fff;
    padding: 0 8px;
    border-radius: 60%;
}
.places-list {
    display: flex;
    padding-top: 32px;
    margin-left: -8px;
    margin-right: -8px;
}
.place-item {
    padding: 0 8px;
    width: 33.3333%;
}
.place-body {
    background-color: #fff;
    color: #000;
    padding: 16px 16px;
    padding-bottom: 0;
}
.place-img {
    width: 100%;
    display: block;
}
.place-img:hover {
    opacity: 0.6;
}
.place-heading {
    padding-bottom: 15px;
    font-size: 15px;
}
.place-time {
    padding-bottom: 15px;
    font-size: 15px;
    opacity: 0.6;
}
.place-dec {
    padding-bottom: 15px;
    font-size: 15px;
}
.places-buy-btn {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    margin-bottom: 16px;
    background-color: #000;
    color: #fff;
font-size: 15px;
border: none;
}
.places-buy-btn:hover {
    background-color: #ccc;
    color: #000;
}
.footer {
text-align: center;
font-size: 24px;
padding: 64px 16px;
}
.socialss-list {
}
.socialss-list a {
    color: rgba(0 0 0 / 0.6);
}
.socialss-list a:hover {
    color: rgba(0 0 0 / 0.4);
}
.copyright {
    margin-top: 15px;
    color: rgba(0 0 0 / 0.6);
}
.copyright a {
    color: rgba(0 0 0 / 0.6);
}
.modal {
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0 0 0 / .4);
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: none;
    position: fixed;
}
.modal.open {
    display: flex;
}
.modal-container {
    min-height: 200px;
    width: 900px;
    background-color: #fff;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalfadein ease .5s;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 20px;
    padding: 8px 16px;
    cursor: pointer;
}
.modal-close:hover {
color: #000;
background-color: #ccc;
}
.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-body {
padding: 0 16px;
display: flex;
flex-direction: column;
}
.modal-label {
    font-size: 15px;
    margin: 15px 0;
}
.modal-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 8px;
}
#buy-ticket {
    margin: 16px 0;
    padding: 16px;
    border: 1px solid #ccc;
    background-color: #009688;
cursor: pointer;
text-transform: uppercase;
font-size: 15px;
color: #fff;
}
#buy-ticket:hover {
    color: #000;
    background-color: #ccc;
}
.modal-footer {
    padding: 0 16px;
    text-align: right;
    margin: 15px 0;
}
.modal-footer a {
    color: #2196f3;
}

.contact-content-info {
    font-size: 18px;
    line-height: 1.5;
}
.contact-content-icon {
    width: 35px;
}
.contact-form {
    width: 100%;
}
.contact-content-message {
    width: 100%;
    font-size: 15px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
}
.form-control {
    font-size: 15px;
    padding: 8px;
    border: 1px solid #ccc;
}
.form-control:nth-child(1) {
    width: 100%;
}
.form-submit {
    outline: none;
    color: #fff;
    background-color: #000;
    padding: 8px;
    font-size: 15px;
    border: none;
    float: right;
    margin-bottom: 16px;
    cursor: pointer;
}
.form-submit:hover {
    color: #000;
    background-color: #ccc;
}

@keyframes modalfadein {
    from {
        opacity: 0;
        transform: translateY(-250px);
    }
    to {
        opacity: 1;
transform: translateY(0);
    }
}
.map-section img {
    width: 100%;
}
